Repository ethan220126283/school-management, pull requests merged in 2022-06, with the labels that each got.

#14 Builder Class for Name
  src/main/java/za/ac/cput/domain/Name.java
Labels: builder

#15 NameFactory and Util package
  src/main/java/za/ac/cput/domain/Name.java
  src/main/java/za/ac/cput/factory/NameFactory.java
  src/main/java/za/ac/cput/helper/null
  src/main/java/za/ac/cput/util/Helper.java
Labels: factory

#17 Testing for Name
  pom.xml
  src/main/java/za/ac/cput/domain/Name.java
  src/main/java/za/ac/cput/factory/NameFactory.java
  src/test/java/za/ac/cput/AppTest.java
  src/test/java/za/ac/cput/factory/NameFactoryTest.java
  target/classes/za/ac/cput/domain/Address.class
  target/classes/za/ac/cput/domain/City.class
  target/classes/za/ac/cput/domain/Country.class
  target/classes/za/ac/cput/domain/Employee.class
  target/classes/za/ac/cput/domain/EmployeeAddress.class
  target/classes/za/ac/cput/domain/Name$1.class
  target/classes/za/ac/cput/domain/Name$Builder.class
  target/classes/za/ac/cput/domain/Name.class
  target/classes/za/ac/cput/domain/Student.class
  target/classes/za/ac/cput/domain/StudentAddress.class
  target/classes/za/ac/cput/factory/NameFactory.class
  target/classes/za/ac/cput/util/Helper.class
  target/test-classes/za/ac/cput/factory/NameFactoryTest.class
Labels: test case

#18 Added More Test Cases for Main
  src/test/java/za/ac/cput/factory/NameFactoryTest.java
  target/classes/za/ac/cput/factory/NameFactory.class
  target/test-classes/za/ac/cput/factory/NameFactoryTest.class
Labels: test case

#19 Add ExceptionTestCase for NameFactory
  pom.xml
  src/main/java/za/ac/cput/factory/NameFactory.java
  src/test/java/za/ac/cput/factory/NameFactoryTest.java
  target/classes/za/ac/cput/domain/Address.class
  target/classes/za/ac/cput/domain/City.class
  target/classes/za/ac/cput/domain/Country.class
  target/classes/za/ac/cput/domain/Employee.class
  target/classes/za/ac/cput/domain/EmployeeAddress.class
  target/classes/za/ac/cput/domain/Name$1.class
  target/classes/za/ac/cput/domain/Name$Builder.class
  target/classes/za/ac/cput/domain/Name.class
  target/classes/za/ac/cput/domain/Student.class
  target/classes/za/ac/cput/domain/StudentAddress.class
  target/classes/za/ac/cput/factory/NameFactory.class
  target/classes/za/ac/cput/util/Helper.class
  target/test-classes/za/ac/cput/factory/NameFactoryTest.class
Labels: test case

#22 Employee and Employee Address
  src/main/java/za/ac/cput/domain/Employee.java
  src/main/java/za/ac/cput/domain/EmployeeAddress.java
  src/main/java/za/ac/cput/factory/EmployeeAddressFactory.java
  src/main/java/za/ac/cput/factory/EmployeeFactory.java
  src/test/java/za/ac/cput/factory/EmployeeAddressFactoryTest.java
  src/test/java/za/ac/cput/factory/EmployeeFactoryTest.java
Labels: builder, factory, test case

#20 Country commits
  src/main/java/za/ac/cput/domain/Country.java
  src/main/java/za/ac/cput/factory/CountryFactory.java
  src/test/java/za/ac/cput/factory/CountryFactoryTest.java
  target/classes/za/ac/cput/domain/Country$Builder.class
  target/test-classes/za/ac/cput/factory/CountryFactoryTest.class
Labels: builder, factory, test case

#21 Assignment
  src/main/java/za/ac/cput/domain/City.java
  src/main/java/za/ac/cput/factory/CityFactory.java
  src/test/java/za/ac/cput/factory/CityFactoryTest.java
Labels: builder, factory, test case

#31 Student Repository & Impl
  pom.xml
  src/main/java/za/ac/cput/domain/Address.java
  src/main/java/za/ac/cput/factory/AddressFactory.java
  src/main/java/za/ac/cput/repository/StudentRepository.java
  src/main/java/za/ac/cput/repository/null
  src/main/java/za/ac/cput/service/StudentRepositoryImpl.java
  src/main/java/za/ac/cput/service/null
Labels: repository

#33 Added Generic Interface for Repository
  src/main/java/za/ac/cput/repository/IRepository.java
  src/main/java/za/ac/cput/repository/StudentRepository.java
  src/main/java/za/ac/cput/service/impl/StudentRepositoryImpl.java
Labels: repository

#38 JPA for Student
  src/main/java/za/ac/cput/controller/StudentController.java
  src/main/java/za/ac/cput/domain/Name.java
  src/main/java/za/ac/cput/domain/Student.java
  src/main/java/za/ac/cput/factory/StudentFactory.java
  src/main/java/za/ac/cput/repository/CountryInterfaceRepository.java
  src/main/java/za/ac/cput/repository/IRepository.java
  src/main/java/za/ac/cput/repository/Impl/CityRepositoryImpl.java
  src/main/java/za/ac/cput/repository/Impl/StudentRepositoryImpl.java
  src/main/java/za/ac/cput/repository/StudentRepository.java
  src/main/java/za/ac/cput/resources/application.yaml
  src/main/java/za/ac/cput/service/SchoolManagementApplication.java
  src/main/java/za/ac/cput/service/StudentService.java
  src/main/java/za/ac/cput/service/impl/CountryServiceImpl.java
  src/main/java/za/ac/cput/service/impl/StudentServiceImpl.java
  src/test/java/za/ac/cput/factory/StudentFactoryTest.java
  src/test/java/za/ac/cput/repository/CityRepositoryImplTest.java
  src/test/java/za/ac/cput/repository/Impl/StudentRepositoryImplTest.java
  target/classes/za/ac/cput/controller/StudentController.class
  target/classes/za/ac/cput/domain/Address$Builder.class
  target/classes/za/ac/cput/domain/Address.class
  target/classes/za/ac/cput/domain/Country$Builder.class
  target/classes/za/ac/cput/domain/Country.class
  target/classes/za/ac/cput/domain/Employee$Builder.class
  target/classes/za/ac/cput/domain/Employee.class
  target/classes/za/ac/cput/domain/EmployeeAddress$Builder.class
  target/classes/za/ac/cput/domain/EmployeeAddress$EmployeeAddressId.class
  target/classes/za/ac/cput/domain/EmployeeAddress.class
  target/classes/za/ac/cput/domain/Name$Builder.class
  target/classes/za/ac/cput/domain/Name.class
  target/classes/za/ac/cput/domain/Student$Builder.class
  target/classes/za/ac/cput/domain/Student.class
  target/classes/za/ac/cput/domain/StudentAddress$Builder.class
  target/classes/za/ac/cput/domain/StudentAddress.class
  target/classes/za/ac/cput/factory/AddressFactory.class
  target/classes/za/ac/cput/factory/CountryFactory.class
  target/classes/za/ac/cput/factory/EmployeeAddressFactory.class
  target/classes/za/ac/cput/factory/EmployeeFactory.class
  target/classes/za/ac/cput/factory/NameFactory.class
  target/classes/za/ac/cput/factory/StudentAddressFactory.class
  target/classes/za/ac/cput/factory/StudentFactory.class
  target/classes/za/ac/cput/repository/CityRepositoryImpl.class
  target/classes/za/ac/cput/repository/EmployeeAddressRepository.class
  target/classes/za/ac/cput/repository/EmployeeRepository.class
  target/classes/za/ac/cput/repository/StudentRepository.class
  target/classes/za/ac/cput/service/IEmployeeService.class
  target/classes/za/ac/cput/service/IService.class
  target/classes/za/ac/cput/service/SchoolManagementApplication.class
  target/classes/za/ac/cput/service/StudentRepositoryImpl.class
  target/classes/za/ac/cput/service/StudentService.class
  target/classes/za/ac/cput/service/impl/StudentServiceImpl.class
  target/classes/za/ac/cput/util/Helper.class
  target/test-classes/za/ac/cput/AppTest.class
  target/test-classes/za/ac/cput/factory/EmployeeAddressFactoryTest.class
  target/test-classes/za/ac/cput/factory/EmployeeFactoryTest.class
  target/test-classes/za/ac/cput/factory/StudentFactoryTest.class
  target/test-classes/za/ac/cput/repository/CityRepositoryImplTest.class
  target/test-classes/za/ac/cput/service/StudentRepositoryImplTest.class
Labels: JPA

#40 Cleaned messy, unneccessary code
  src/main/java/za/ac/cput/controller/StudentController.java
  src/main/java/za/ac/cput/domain/Name.java
  src/main/java/za/ac/cput/domain/Student.java
  src/main/java/za/ac/cput/factory/StudentFactory.java
  src/main/java/za/ac/cput/repository/StudentRepository.java
  src/main/java/za/ac/cput/service/StudentService.java
  src/main/java/za/ac/cput/service/impl/StudentServiceImpl.java
  src/test/java/za/ac/cput/factory/StudentFactoryTest.java
  src/test/java/za/ac/cput/service/impl/StudentServiceImplTest.java
  target/classes/za/ac/cput/controller/StudentController.class
  target/classes/za/ac/cput/domain/Name$Builder.class
  target/classes/za/ac/cput/domain/Name.class
  target/classes/za/ac/cput/domain/Student$Builder.class
  target/classes/za/ac/cput/domain/Student.class
  target/classes/za/ac/cput/factory/StudentFactory.class
  target/classes/za/ac/cput/repository/StudentRepository.class
  target/classes/za/ac/cput/service/StudentService.class
  target/classes/za/ac/cput/service/impl/StudentServiceImpl.class
  target/test-classes/za/ac/cput/factory/StudentFactoryTest.class
  target/test-classes/za/ac/cput/service/impl/StudentServiceImplTest.class
Labels: JPA
